body {
    background-color: #bc7777;
}

.box {
    background: #fff;
    height: 300px;
    width: 300px;
    position: relative;
    margin: auto;
    top: 200px;
    transition-property: background;
    transition-duration: 3s;
}

.box:hover {
    background-color: red;
}