* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #8ea8ab;
}
.box{
    background: #fff;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out;
    animation-timing-function: ease;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes myanimation {
    0%{background-color:rgb(250, 247, 247); left: 0; top:0; border-radius: 0 0 0 0;}
    25%{background-color: rgb(161, 53, 53); left: 300px; top:0; border-radius: 50% 0 0 0;}
    50%{background-color: rgb(130, 32, 32); left: 300px; top:300px; border-radius: 50% 50% 0 0;}
    75%{background-color: rgb(93, 17, 17); left: 0; top:300px; border-radius: 50% 50% 50% 0;}
    100%{background-color: rgb(52, 10, 10); left: 0; top:0; border-radius: 50% 50% 50% 50%;}
}   