* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #8ea8ab;
}
.box{
    background: #fff;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 5s;
}

@keyframes myanimation {
    0%{background-color:rgb(250, 247, 247);}
    25%{background-color: rgb(161, 53, 53);}
    50%{background-color: rgb(130, 32, 32);}
    75%{background-color: rgb(93, 17, 17);}
    100%{background-color: rgb(52, 10, 10);}
}